On veut transformer le dataset : 
- colonne noms
- colonnes années (une centaine)

In [2]:
import pandas as pd
import numpy as np

In [3]:
df1 = pd.read_table('nat2016.txt', encoding='utf-8')
df1.head(50)

    sexe preusuel annais  nombre
0      1        A   1980       3
1      1        A   1998       3
2      1        A   XXXX      22
3      1    AADAM   2009       4
4      1    AADAM   2014       3
5      1    AADAM   2016       4
6      1    AADAM   XXXX       9
7      1    AADEL   1976       5
8      1    AADEL   1978       3
9      1    AADEL   1980       3
10     1    AADEL   1981       5
11     1    AADEL   1982       4
12     1    AADEL   1983       3
13     1    AADEL   1987       5
14     1    AADEL   XXXX      26
15     1    AADIL   1974       4
16     1    AADIL   1976       6
17     1    AADIL   1977       6
18     1    AADIL   1978       6
19     1    AADIL   1979       8
20     1    AADIL   1980       9
21     1    AADIL   1981       9
22     1    AADIL   1982      11
23     1    AADIL   1983      12
24     1    AADIL   1984       9
25     1    AADIL   1985       8
26     1    AADIL   1986       3
27     1    AADIL   1987       8
28     1    AADIL   1988       3
29     1    AADIL   1989       7
30     1    AADIL   1990       4
31     1    AADIL   1992       5
32     1    AADIL   1993       4
33     1    AADIL   1994       3
34     1    AADIL   1995       3
35     1    AADIL   2003       3
36     1    AADIL   2015       6
37     1    AADIL   2016       5
38     1    AADIL   XXXX      31
39     1   AAKASH   2001       3
40     1   AAKASH   2011       3
41     1   AAKASH   XXXX      18
42     1    AARON   1907       3
43     1    AARON   1911       3
44     1    AARON   1931       3
45     1    AARON   1935       3
46     1    AARON   1949       3
47     1    AARON   1960       3
48     1    AARON   1962       3
49     1    AARON   1963       4

In [5]:
df3 = df1.groupby('preusuel').nunique()

In [7]:
df3.describe()

               sexe  preusuel        annais        nombre
count  31878.000000   31878.0  31878.000000  31878.000000
mean       1.063712       1.0     18.219995     10.094140
std        0.244242       0.0     23.389141     15.873823
min        1.000000       1.0      1.000000      1.000000
25%        1.000000       1.0      4.000000      3.000000
50%        1.000000       1.0      9.000000      5.000000
75%        1.000000       1.0     22.000000     10.000000
max        2.000000       1.0    118.000000    229.000000

In [8]:
df3.head()

          sexe  preusuel  annais  nombre
preusuel
A            1         1       3       2
AADAM        1         1       4       3
AADEL        1         1       8       4
AADIL        1         1      24      10
AAKASH       1         1       3       2

In [13]:
df1['preusuel'].value_counts()

ANGE              234
_PRENOMS_RARES    234
ALIX              234
CAMILLE           234
DOMINIQUE         233
CLAUDE            230
HYACINTHE         227
MAXIME            223
MARIE             210
CYRILLE           205
GABY              204
FRANCE            196
ELIE              195
ANDRÉA            194
IRÈNE             193
STÉPHANE          191
LÉANDRE           190
JEAN              187
GEORGES           187
ARSENE            187
EDWIGE            187
MARY              187
RACHEL            187
ELISE             186
PIERRE            185
MAURICE           185
GEORGE            184
MAXENCE           184
CELESTE           184
LUCE              183
                 ...
NASERDINE           1
ABDELRAHIME         1
DJIENABA            1
PAUL-THOMAS         1
EUXANE              1
DOROTA              1
ADLI                1
SAHLI               1
SOULEYMA            1
BENYEBKA            1
ABDELRHAMANE        1
AKO                 1
GUITA               1
ISAELLE             1
FABIA               1
AHOU                1
MARC-LAURENT        1
MEHANA              1
DJORDJE             1
JAILSON             1
SHAHRAZED           1
GIFTY               1
YSABEAU             1
JEAN-NORBERT        1
MUMIN               1
ROSTANE             1
MAADI               1
YAFFA               1
HESNA               1
JASSON              1
Name: preusuel, Length: 31878, dtype: int64

In [19]:
df1.pivot_table(index="preusuel", columns="annais", values="nombre").fillna(0)

annais,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,XXXX
preusuel,,,,,,,,,,,,,,,,,,,,,
A,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0
AADAM,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.0,0.0,0.0,0.0,0.0,3.0,0.0,4.0,9.0
AADEL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26.0
AADIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,5.0,31.0
AAKASH,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,18.0
AALIYA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9.0,15.0,7.0,14.0,17.0,15.0,13.0,9.0,14.0,5.0
AALIYAH,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,76.0,92.0,136.0,144.0,175.0,145.0,195.0,187.0,194.0,8.0
AALYA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,8.0,9.0,3.0,5.0,13.0,6.0,7.0,11.0,3.0
AALYAH,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7.0,15.0,20.0,14.0,10.0,20.0,14.0,21.0,13.0,1.0
AANOR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,0.0,0.0,3.0,0.0,0.0,25.0
AARICIA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,26.0
AARON,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,...,1380.0,1355.0,1606.0,1762.0,1725.0,1908.0,2052.0,2156.0,2372.0,39.0
AARONE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,14.0,10.0,9.0,8.0,12.0,14.0,7.0,8.0,9.0,10.0
AARONN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.0,4.0,0.0,7.0,3.0,5.0,5.0,8.0,6.0,10.0
AAROUN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4.0,3.0,5.0,4.0,4.0,8.0
AAYA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,7.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,16.0
AAYAN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.0,0.0,4.0,8.0,3.0,5.0,11.0,5.0,5.0
AAZIZ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0
AB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
AB-DEL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,29.0
ABABACAR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,0.0,3.0,3.0,6.0,3.0,37.0
ABAKAR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0
ABAS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,33.0
ABASS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7.0,0.0,0.0,5.0,8.0,10.0,4.0,6.0,0.0,37.0
ABASSE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,0.0,4.0,0.0,5.0,0.0,0.0,4.0,0.0,49.0
ABASSIA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,21.0
ABBAS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,5.0,4.0,0.0,7.0,6.0,10.0,7.0,8.0,36.0
ABBES,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,3.0,0.0,4.0,3.0,0.0,0.0,31.0
ABBIE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,4.0,5.0,14.0,6.0,12.0,14.0,16.0,18.0,5.0
ABBIGAELLE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,3.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ÉRICK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.0
ÉRIKA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,3.0,6.0,4.0,3.0,6.0,26.0
ÉRIN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,4.0,0.0,4.0,6.0,0.0,7.0,6.0
ÉRINE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,14.0,34.0,27.0,32.0,26.0,21.0,27.0,4.0
ÉRYNE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,0.0,7.0,3.0,5.0,10.0,2.0
ÉSAÏE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,3.0,0.0,3.0,6.0,11.0,2.0
ÉTAN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.0,5.0,6.0,9.0,8.0,3.0,6.0,0.0
ÉTHAN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,36.0,137.0,203.0,196.0,199.0,192.0,216.0,0.0
ÉTHANN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,14.0,15.0,6.0,8.0,10.0,3.0
ÉTIENNE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5.0,13.0,27.0,31.0,34.0,32.0,35.0,28.0
ÉVA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,46.0,149.0,145.0,162.0,184.0,166.0,205.0,24.0
ÉVAN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,32.0,75.0,80.0,89.0,79.0,63.0,86.0,5.0
ÉVANA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,3.0,3.0,3.0,7.0,1.0
ÉVANGÉLINE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,5.0,12.0,0.0,10.0,3.0,7.0
ÉVANN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,8.0,6.0,3.0,3.0,3.0,11.0,1.0
ÉVE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,3.0,0.0,6.0,3.0,0.0,15.0
ÉVELINE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0
ÉVELYNE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0
ÉVEN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,4.0,0.0,5.0,3.0,5.0,0.0,3.0
ÉVY,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5.0,7.0,8.0,5.0,10.0,3.0
ÉWEN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.0,5.0,6.0,5.0,6.0,16.0,10.0,1.0
ÉZIO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,14.0,13.0,18.0,19.0,25.0,29.0,0.0
ÉZÉCHIEL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,3.0,6.0,21.0,13.0,18.0,27.0,1.0
ÉZÉKIEL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,5.0,10.0,14.0,14.0,7.0,2.0
ÉZÉQUIEL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,8.0,7.0,10.0,9.0,3.0
ÎMRAN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,4.0,4.0,7.0,9.0,2.0
ÏSSA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,4.0,6.0,9.0,10.0,3.0
ÖMER,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,13.0,23.0,29.0,35.0,39.0,35.0,56.0,9.0
ÖZGE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,0.0,0.0,5.0,0.0,0.0,16.0
ÖZLEM,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,6.0,3.0,5.0,3.0,3.0,25.0

In [20]:
df2 = df1.pivot_table(index="preusuel", columns="annais", values="nombre").fillna(0)

In [23]:
df2.to_csv("firstname_byYear.csv", sep='\t', encoding='utf-8')